:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #090811;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: #0c0a16;
  display: grid;
  place-items: center;
  height: 100vh;
  margin: 0;
  overflow: hidden;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.main-fade-in {
	opacity: 1;
	animation-name: mainFadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-out;
	animation-duration: 2s;
}

@keyframes mainFadeInOpacity {
  0% {
    opacity: 0;
    height: 68vh;
    border-radius: 30%;
  }

  100% {
    opacity: 1;
    height: 70vh;
    border-radius: 0%;
  }
}

.fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-out;
	animation-duration: 2s;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

#main {
  border: 2px solid #0004423d;
  width: 115%;
  height: 70vh;

  place-self: center;

  opacity: 1;

  background-color: rgba(2, 11, 53, 0.2);
  z-index: 2;
}

.pfp {
  position: relative;
  border-radius: 20%;
  top: 2%
}

.name-header {
  position: relative;
  font-size: 40px;
  font-family: "Source Code Pro";
  color: #ffffff;
  bottom: 13.5%;
}

.name {
  position: relative;
  font-size: 80px;
  font-family: "Source Code Pro";
  bottom: 28.5%;
  background-image: linear-gradient(rgb(255, 255, 255), rgb(0, 0, 255));
  color: transparent;
  background-clip: text;
}

.desc-header {
  position: relative;
  font-size: 30px;
  font-family: "Source Code Pro";
  color: #ffffff;
  bottom: 42%;
  left: 1%;
}

.paragraph {
  font-family: "Source Code Pro";
  color: #ffffff;
  bottom: 40%;

  text-align: center;
}

.desc {
  position: relative;
  font-family: "Source Code Pro";
}

#social-icons {
  position: relative;
  bottom: 21vh;
  z-index: 2;
}

.github-icon {
  position: relative;
  top: 2vh;
}

.youtube-icon {
  position: relative;
  top: 2vh;
  padding-left: 3%;
  padding-right: 3%;
}

.roblox-icon {
  position: relative;
  top: 2vh;
}

#dev-icons {
  position: relative;
  vertical-align: middle;
  bottom: 70vh;
  right: 14vh;

  width: 10%;
  z-index: 2;
}

canvas {
  position: fixed;
  width: 100%;
  height: 100%;

  z-index: 1;
}